
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(<%= image_path('sun-rise.jpg') %>);">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h2>Lucas Photography</h2>
          <hr class="small">
          <span class="subheading">A Travel Photographer in New Zealand</span>
        </div>
      </div>
    </div>
  </div>
</header>

<hr>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="demo-gallery">
        <div id="aniimated-thumbnials" class="justified-gallery">
          <% @images.each do |image| %>
              <%= link_to image_path(image.image.url) do %>
                    <%= image_tag (image.image.url(:thumb)) %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<script type="text/javascript">
    $('#aniimated-thumbnials').justifiedGallery({
        border: 6
    }).on('jg.complete', function() {
        $('#aniimated-thumbnials').lightGallery({
            thumbnail: true
        });
    });

    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 1000,
            maxwidth: 800,
            namespace: "transparent-btns"
        });
    });

</script>
